<ng-container *ngIf="providersService.isLoading(); else loaded">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-container>
<ng-template #loaded>
  <div class="container mx-auto flex justify-center flex-col pt-10">
    <div class="flex justify-between w-full p-2">
      <span class="text-xl">List of providers</span>
      <div class="flex gap-x-2">
        <button mat-flat-button (click)="addYandex('yandex')">Add Yandex Disk</button>
        <button mat-flat-button>Add Dropbox</button>
        <button mat-flat-button>Add GoogleDrive</button>
      </div>
    </div>
    <table mat-table [dataSource]="providersService.providers()" class="mat-elevation-z8">
      <!-- Index Column -->
      <ng-container matColumnDef="index">
        <th mat-header-cell *matHeaderCellDef> # </th>
        <td mat-cell *matCellDef="let i = index"> {{ i + 1 }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let provider"> {{provider.name}} </td>
      </ng-container>

      <!-- ConnectedAt Column -->
      <ng-container matColumnDef="connectedAt">
        <th mat-header-cell *matHeaderCellDef> Connected At </th>
        <td mat-cell *matCellDef="let provider"> {{provider.connectedAt | date:'short' }} </td>
      </ng-container>

      <!-- UpdatedAt Column -->
      <ng-container matColumnDef="updatedAt">
        <th mat-header-cell *matHeaderCellDef> Updated At </th>
        <td mat-cell *matCellDef="let provider"> {{provider.updatedAt | date:'short' }} </td>
      </ng-container>

      <!-- Buttons Column -->
      <ng-container matColumnDef="buttons">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let provider">
          <div class="flex justify-around">
            <button mat-flat-button color="primary" [routerLink]="provider.id">View</button>
            <button mat-flat-button color="primary" (click)="updateProvider(provider.id)">Update</button>
            <button mat-flat-button color="warn" (click)="removeProvider(provider.id)">Remove</button>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</ng-template>
