@switch (contentState()) {
@case ("loading") {
<mat-progress-bar mode="indeterminate"></mat-progress-bar>
}
@case ("initialized") {
<div class="container mx-auto flex flex-col justify-center pt-10">
  <div class="flex justify-between w-full p-2">
    <div class="flex gap-x-2 items-center">
      <span class="text-xl">{{ this.provider!.name }}</span>
      <mat-chip>
        {{this.provider!.providerType}}
      </mat-chip>
    </div>
    <div class="flex gap-x-2">
      <button mat-flat-button (click)="playAll()">Play all songs</button>
      <cmp-active-button color="accent" text="Update" [isLoading]="isUpdating()"
        [disabled]="isRemoving() || isUpdating()" (click)="update()"></cmp-active-button>
      <cmp-active-button color="warn" text="Remove" [isLoading]="isRemoving()" [disabled]="isRemoving() || isUpdating()"
        (click)="remove()"></cmp-active-button>
    </div>
  </div>

  <cmp-provider-tree [provider]="this.provider!" [playlists]="this.playlists!"></cmp-provider-tree>
</div>
}
@default {
<div class="container mx-auto flex justify-center flex-col pt-10">
  <div class="flex justify-center w-full p-2">
    Something went wrong. Please, try again later
  </div>
</div>
}
}