@if (providerService.isLoading()) {
<mat-progress-bar mode="indeterminate"></mat-progress-bar>
} @else {
<div class="container mx-auto flex justify-center pt-10">
  <mat-tree [dataSource]="getDataSource()" [treeControl]="treeControl" class="w-full">

    <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
      <div class="flex justify-between w-full">
        <div class="flex items-center gap-x-2">
          <button mat-icon-button color="primary" (click)="playSong(node.file)">
            <mat-icon>play_circle</mat-icon>
          </button>
          {{node.name}}
        </div>
        <div class="flex items-center gap-x-2 pr-2">
          <button mat-flat-button class="z-0" color="primary" [matMenuTriggerFor]="menu">Add to playlist</button>
          <mat-menu #menu="matMenu" xPosition="before">
            @for (playlist of this.playlists; track $index) {
            <button mat-menu-item (click)="addSongToPlaylist(node.file, playlist.id)">Add to {{playlist.name}}</button>
            }
          </mat-menu>
          <button mat-flat-button class="z-0" color="accent" (click)="addSongToQueue(node.file)">Add to queue</button>
        </div>
      </div>
    </mat-tree-node>

    <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
      <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
        <mat-icon class="mat-icon-rtl-mirror">
          {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
        </mat-icon>
      </button>
      {{node.name}}
    </mat-tree-node>

  </mat-tree>
</div>
}
