<mat-expansion-panel (opened)="panelOpenState = true"
                     (closed)="panelOpenState = false">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Create new Topic
    </mat-panel-title>
  </mat-expansion-panel-header>
  <div class="flex justify-between items-center gap-x-5">
    <mat-form-field class="w-full">
      <mat-label>Put Topic name here</mat-label>
      <input matInput type="text" [formControl]="playlistName">
      <mat-error *ngIf="playlistName.hasError('required')">
        Please, provide a name for the topic
      </mat-error>
      <mat-error *ngIf="!playlistName.hasError('required') && playlistName.hasError('minlength')">
        Name must have at least 3 characters
      </mat-error>
    </mat-form-field>
    <button mat-flat-button color="primary" (click)="createTopic()">Create</button>
  </div>
</mat-expansion-panel>
