<div class="container mx-auto flex flex-col justify-center pt-10">
  @if(this.playerService.currentPlaylist().length === 0) {
  <div class="flex justify-center w-full p-2">
    Queue is empty. Add some more tracks!
  </div>
  } @else {
  <div class="flex justify-between w-full p-2">
    <span class="text-xl">Current queue</span>
    <div class="flex gap-x-2">
      @if(this.playerService.isShuffled()){
      <button mat-flat-button (click)="unshuffle()">
        Unshuffle</button>
      } @else {
      <button mat-flat-button (click)="shuffle()">
        <mat-icon>shuffle</mat-icon>
        Shuffle
      </button>
      }
    </div>
  </div>
  <!--Bad solution, waiting for Material Signals support-->
  @if(this.playerService.currentPlaylist()) {
  <table mat-table [dataSource]="this.playerService.currentPlaylist()" class="mat-elevation-z8">

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> # </th>
      <td mat-cell *matCellDef="let i = index"> {{ i + 1 }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Manage Column -->
    <ng-container matColumnDef="buttons">
      <th mat-header-cell *matHeaderCellDef> Manage </th>
      <td mat-cell *matCellDef="let i = index"><button mat-flat-button (click)="removeSong(i)">Remove</button></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns; let i = index" [ngClass]="">

    </tr>
  </table>
  }
  }
</div>