<div class="fixed bottom-0 left-0 w-full text-white  mat-app-background">
  <!--Progress bar-->
  @if(this.playerService.playState() === 'loading') {
  <mat-progress-bar mode="indeterminate" class="h-2 px-1 pb-4"></mat-progress-bar>
  } @else {
  <div class="w-full h-2 bg-gray-500 relative cursor-pointer" (click)="setSeek($event)">
    <span class="block h-2 bg-white" [style]="{ width: this.playerService.songProgress()}"></span>
  </div>
  <div class="flex justify-between w-full px-1 pt-2">
    <span>{{this.playerService.currentTime() | formatTime }}</span>
    <span>{{this.playerService.duration() | formatTime}}</span>
  </div>
  }

  <div class="flex items-center p-3">
    <span class="w-1/4 text-lime-300">
      @if (this.playerService.currentSong()) {
      {{
      this.playerService.currentSong().name
      }}
      }
    </span>

    <!--Buttons-->
    <div class="text-center w-1/2 flex justify-center items-center select-none gap-x-8">
      @if (this.playerService.currentPlaylist().length > 1) {
      <button mat-icon-button (click)="playPrevious()">
        <mat-icon class="buttons-size">skip_previous</mat-icon>
      </button>
      }
      @if (this.playerService.playState() === 'playing') {
      <button mat-icon-button (click)="pause()">
        <mat-icon class="buttons-size">pause_circle</mat-icon>
      </button>
      } @else {
      <button mat-icon-button (click)="play()">
        <mat-icon class="buttons-size">play_circle</mat-icon>
      </button>
      }
      @if (this.playerService.currentPlaylist().length > 1) {
      <button mat-icon-button (click)="this.playNext()">
        <mat-icon class="buttons-size">skip_next</mat-icon>
      </button>
      }
    </div>

    <div class="text-center w-1/4 flex justify-around items-center text-2xl space-x-2 select-none">
      @switch (playerService.repeatType()) {
      @case ('repeat-one') {
      <button mat-icon-button (click)="setRepeat('repeat-none')">
        <mat-icon class="buttons-size">repeat_one</mat-icon>
      </button>
      }
      @case ('repeat-none') {
      <button mat-icon-button (click)="setRepeat('repeat-all')">
        <mat-icon class="buttons-size fill-gray-500" color="accent">repeat</mat-icon>
      </button>
      }
      @case ('repeat-all') {
      <button mat-icon-button (click)="setRepeat('repeat-one')">
        <mat-icon class="buttons-size">repeat</mat-icon>
      </button>
      }
      }
      @if (this.playerService.isShuffled()) {
      <button mat-icon-button (click)="unshuffle()" [disabled]="this.playerService.currentPlaylist().length <= 1">
        <mat-icon class="buttons-size">shuffle_on</mat-icon>
      </button>
      } @else {
      <button mat-icon-button (click)="shuffle()" [disabled]="this.playerService.currentPlaylist().length <= 1">
        <mat-icon class="buttons-size">shuffle</mat-icon>
      </button>
      }
      <div class="flex justify-around items-center text-2xl select-none">
        @if (playerService.isMuted()) {
        <button mat-icon-button (click)="unmute()">
          <mat-icon class="buttons-size">volume_off</mat-icon>
        </button>
        } @else if (playerService.volume() === 0) {
        <button mat-icon-button (click)="mute()">
          <mat-icon class="buttons-size">volume_mute</mat-icon>
        </button>
        } @else if (playerService.volume() <= 0.5) { <button mat-icon-button (click)="mute()">
          <mat-icon class="buttons-size">volume_down</mat-icon>
          </button>
          } @else {
          <button mat-icon-button (click)="mute()">
            <mat-icon class="buttons-size">volume_up</mat-icon>
          </button>
          }
          <mat-slider [min]="0" [max]="1" [step]="0.05">
            <input matSliderThumb [(ngModel)]="this.currentVolume" (input)="updateVolume()">
          </mat-slider>
      </div>
    </div>
  </div>
</div>
