<div class="fixed bottom-0 left-0 w-full text-white mat-app-background">
  <!--Progress bar-->
  <div class="w-full h-2 bg-gray-500 relative cursor-pointer" (click)="setSeek($event)">
    <span class="block h-2 bg-white" [style]="{ width: this.playerService.songProgress() }"></span>
  </div>
  <div class="flex justify-between w-full px-1 pt-2">
    <span>{{this.playerService.seek()}}</span>
    <span>{{this.playerService.songDuration()}}</span>
  </div>

  <div class="flex items-center p-3">
    <span class="w-1/4 text-lime-300">
      <ng-container *ngIf="this.playerService.song(); else defaultSongDescription">
        {{this.playerService.song()?.name}}
      </ng-container>
      <ng-template #defaultSongDescription>SongModel by artist</ng-template>
    </span>

    <!--Buttons-->
    <div class="text-center w-1/2 flex justify-center items-center select-none gap-x-8">
      <button mat-icon-button (click)="playPrevious()">
        <mat-icon class="buttons-size">skip_previous</mat-icon>
      </button>
      <ng-container *ngIf="this.playerService.playState() === 'playing'; else paused">
        <button mat-icon-button (click)="pause()">
          <mat-icon class="buttons-size">pause_circle</mat-icon>
        </button>
      </ng-container>
      <ng-template #paused>
        <button mat-icon-button (click)="play()">
          <mat-icon class="buttons-size">play_circle</mat-icon>
        </button>
      </ng-template>
      <button mat-icon-button (click)="this.playNext()">
        <mat-icon class="buttons-size">skip_next</mat-icon>
      </button>
    </div>

    <div class="text-center w-1/4 flex justify-around items-center text-2xl space-x-4 select-none">
      <div [ngSwitch]="playerService.repeatType()">
        <ng-template [ngSwitchCase]="'repeat-1'">
          <button mat-icon-button (click)="setRepeat('repeat-none')">
            <mat-icon class="buttons-size">repeat_one</mat-icon>
          </button>
        </ng-template>
        <ng-template [ngSwitchCase]="'repeat-none'">
          <button mat-icon-button (click)="setRepeat('repeat-all')">
            <mat-icon class="buttons-size fill-gray-500">repeat</mat-icon>
          </button>
        </ng-template>
        <ng-template [ngSwitchCase]="'repeat-all'">
          <button mat-icon-button (click)="setRepeat('repeat-1')">
            <mat-icon class="buttons-size">repeat</mat-icon>
          </button>
        </ng-template>
      </div>
      <fa-icon class="text-4xl" [icon]="faVolumeHigh"></fa-icon>
      <mat-slider [min]="0" [max]="1" [step]="0.1">
        <input matSliderThumb type="number" [(ngModel)]="this.currentVolume">
      </mat-slider>
    </div>
  </div>
</div>
